body {
background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);text-align: center;
}
#main {
	width: 1000px;
	height: 1000px;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); margin: 25px auto;
	border: solid 2px black; padding: 10px;
}	
h1 {
	font-family: Arial, Helvetica, sans-serif;
}
img {
	width: 50%;
	margin: 1px auto;
	display: block;
}
	